a{
    color: inherit;
    text-decoration: none;
}
.blogContainer{
    font-family: "Poppins";
    border-top: 0.5px solid rgb(218, 218, 218);
    padding: 25px 20px;
    /* font-stretch: expanded; */
}
.blogHeader{
    display: flex;
}
.blogHeader > a{
    margin-left: 20px;
}
.blogHeaderImage{
    border-radius: 50%;
    height: 55px;
    width: 55px;
    background-color: rgb(218, 218, 218);
    padding: 2px; 
    /* To be replaced by AvatarComponent later*/
}
.blogHeaderName{
    font-weight: 500;
}
.blogHeaderUsernameTimeDiv{
    display: flex;
    align-items: center;
    font-weight: 400;
    color: #605b67;
}
.dot{
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: #605b67;
}
.blogHeaderUsernameTimeDiv > div{
    margin-right: 15px;
}
.blogBody{
    margin-top: 5px;
    display: flex;
}
.blogBodyImage{
    margin-top: 20px;
    height: 150px;
    margin-left: 15px;
    border-radius: 8px;
    width: 260px;
    border: 0.5px solid rgb(218, 218, 218);
}
.blogBodyTitle{
    font-weight: 700;
    font-size: 23px;
}
.blogBodyContent{
    color: #525054;
    line-height: 23px;
}
.blogBodyMinRead{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 2px;
}
.bookmarkIcon{
    cursor: pointer;
    height: 25px;
}
.bookmarkmsg{
    padding: 5px;
    /* background-color: blue; */
}