a{
    color: inherit;
    text-decoration: none;
}
.blogContainer{
    font-family: "Poppins";
    border-top: 0.5px solid rgb(218, 218, 218);
    padding: 25px 20px;
    padding-bottom: 0;
    /* font-stretch: expanded; */
}
.blogHeader{
    display: flex;
}
.blogHeader > a{
    margin-left: 20px;
}
.blogHeaderImage{
    border-radius: 50%;
    height: 55px;
    width: 55px;
    background-color: rgb(218, 218, 218);
    padding: 2px; 
    /* To be replaced by AvatarComponent later*/
}
.blogHeaderName{
    font-weight: 500;
}
.blogHeaderUsernameTimeDiv{
    display: flex;
    align-items: center;
    font-weight: 400;
    color: #605b67;
}
.dot{
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: #605b67;
}
.blogHeaderUsernameTimeDiv > div{
    margin-right: 15px;
}
.blogBody{
    margin-top: 5px;
    display: flex;
}
.blogBodyImage{
    margin-top: 20px;
    height: 150px;
    margin-left: 15px;
    border-radius: 8px;
    width: 260px;
    border: 0.5px solid rgb(218, 218, 218);
}
.blogBodyTitle{
    font-weight: 700;
    font-size: 23px;
}
.blogBodyContent{
    color: #525054;
    line-height: 23px;
}
.blogBodyMinRead{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 2px;
}
.bookmarkIconDiv{
    cursor: pointer;
    /* padding: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.bookmarkIconDiv:hover{
    background-color: #dfdfdf;
}
.bookmarkIcon{
    height: 23px;
}
.heartIconDiv{
    margin-left: 15px;
    padding: 0 8px;
    border-radius: 15px;
    width: 60px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    cursor: pointer;
}
.heartIconDiv:hover{
    background-color: #dfdfdf;
}

.heartIcon{
    height: 28px;
    width: 27px;
}
.likeCnt{
    color: #525054;
    margin-left: 5px;
    font-size: 19px;
    font-weight: 300;
}
.blogFooter{
    position: relative;
    top: 15px;
    display: flex;
    align-items: center;
    left: -10px;
}
.bookmarkmsg{
    
    visibility: hidden;
    opacity: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -18px;
    left: 40%;
    padding: 5px 7px;
    border-radius: 3px;
    width: fit-content;
    color: white;
    background-color: #4294ff;
    transition: opacity 0.2s ease-in;
}