.user-availablefor {
    font-family: 'Poppins';
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 8px;
    width: 50%;
    margin-left: 0.625rem;

}

.availablefor {
    display: flex;
    flex-direction: column;
}

.user-availablefor-text {
    font-family: 'Poppins';
    font-size: 1.15rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.availablefor-account-availableforbtn {
    border-radius: 90px;
    border: 1px solid rgb(150, 150, 150);
    height: 44px;
    margin: auto;
    padding: 6px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(54, 65, 83);
    background-color: white;
    margin-bottom: 0.5rem;
}

.availablefor-account-availableforbtn:hover {
    cursor: pointer;
    background-color: rgb(227, 232, 239);
}

.availablefor-account-availableforicon {
    display: flex;
    align-items: center;
}

.message-of-empty-bio {
    font-family: 'Poppins';
    color: rgb(96, 109, 131);
    text-align: center;
}