.main-account {
    font-family: 'Poppins';
    /* border: 0.1px solid rgb(218, 218, 218); */
    border: 0.1px solid rgb(213, 49, 49);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    margin-right: 15px;
    padding-left: 0px;
    padding-right: 0px;

}
.account-prof {
    font-family: 'Poppins';
    width: 90%;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border: 0.1px solid rgb(218, 218, 218);
    border-radius: 8px;
    background-color: white;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}