.account-usersocials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.usersocial-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.usersocial-socials-logo-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.usersocial-socials-logo {
    cursor: pointer;
    height: 1.05rem;
    width: 1.05rem;
    color: rgb(103, 116, 137);
}

.usersocial-socials-logo-bg:hover {
    border-radius: 50%;
    background-color: rgb(242, 245, 249);
}

.usersocial-address {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.usersocial-socials-logo-location {
    cursor: pointer;
    margin-right: 0.5rem;
    height: 1rem;
    width: 1rem;
    color: rgb(103, 116, 137);
}

.usersocial-socials-logo-calender {
    cursor: pointer;
    margin-right: 0.5rem;
    height: 1rem;
    width: 1rem;
    color: rgb(103, 116, 137);
}

.usersocial-address-city {
    color: rgb(103, 116, 137);
}

.usersocial-joined {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.usersocial-joined-date {
    color: rgb(103, 116, 137);
}