.loginPage{
    margin: 0 auto;
    margin-top: 20vh;
    border-radius: 5px;
    width: 450px;
    -webkit-box-shadow: 0 0 2px grey;
    box-shadow: 0 0 2px grey;
    padding: 15px 30px;
    height: 250px;
}

.name {
	font-size: 20px;
	font-family: monospace;
	/* background-color: #ffecb5 ; */
	font-weight: 600;
	width: fit-content;
	margin: 10px auto;
	padding: 5px 10px;
}

.loginWithGoogle{
    position: relative;
    top: 5px;
    width: fit-content;
    margin: 10px auto;
    padding: 9px 15px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 1px grey;
    box-shadow: 0 0 1px grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: not-allowed;
    
}
.icon{
    position: relative;
    top: 1px;
    height: 30px;
    margin-left: 10px;
    /* padding: 5px; */
    /* margin: 0px 10px; */
}
.loginWithGoogle:hover{
    padding-top: 8px;
    /* margin: 39px auto; */
    /* margin: 9px auto; */
    border: 1px solid #ff3522;
}